---

---

@import "{{ site.theme }}";


body {
    background-image: url(https://i.ibb.co/yDWdnXp/Untitled-design.jpg);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    width: 1000px;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

h2 {
    text-align: left;
    padding: 20px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 75px;
}

h3 {
    text-decoration: underline;
    font-size: 35px;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    background-color:#000000;
    color: #FFFFFF;
}