---

---

@import "{{ site.theme }}";

header {
    background-color:black;
    color:cornsilk;
}

nav {
    color:cornsilk;
}

body {
    background-color:cornsilk;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: left;
    padding: 20px;
    background-color:black;
    color: cornsilk;
    font-size: 75px;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    background-color:black;
    color:cornsilk;
}